@page
@model CreateModel
@{
ViewData["Title"] = "Новая заметка";
}

<h2>Создание заметки</h2>

<!-- Форма создания новой заметки через POST метод -->
<form method="post">
    <div>
        <label>Заголовок:</label>
        <input asp-for="Note.Title" class="form-control" />
    </div>
    <div>
        <label>Содержимое:</label>
        <textarea asp-for="Note.Content" class="form-control rich-editor"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>
</form>
