@page "{id:guid}"
@model EditModel
@{
ViewData["Title"] = "Редактировать заметку";
}
<h2>Редактировать</h2>
<!-- Форма для POST метода -->
<form method="post">
    <!-- Скрытое поле с id заметкой -->
    <input type="hidden" asp-for="Note.Id"/>
    <div>
        <label>Заголовок:</label>
        <input asp-for="Note.Title" class="form-control"/>
    </div>
    <div>
        <label>Содержимое:</label>
        <textarea asp-for="Note.Content" class="form-control rich-editor"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Сохранить</button>
</form>
